body {
    background: rgb(190, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: auto;
}

.timer {
    margin: auto;
    width: 250px;
    height: 200px;
    background: rgb(241, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.timer-time {
    display: flex;
    font-size: 40px;
    height: 43px;
}

.timer-time-block {
    color: white;
    background: black;
    height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.timer-time-colon {
    display: flex;
    align-items: center;
}

.input-group {
    width: 230px;
    display: flex;
    align-items: center;
    font-size: 4px;
}

.btn-panel {
    padding-left: 0;
    padding-right: 0;
}

.btn-timer-add {
    font-size: 50%;
}

.btn-group-toggle {
    width: 230px; 
}

.timer-message {
    padding-top: 3px;
    width: 230px;
    height: 31px;
    background:#f1d8d8;
    border: 0.1px dashed rgb(116, 113, 113);
    border-radius: 8px;
    text-align: center;
    color: rgba(121, 121, 121, 0.7);
}

